.section-about-me
  h1 ABOUT ME
  p My name is Wladimir Matos Reyes, I'm 24 years old currently living in the Dominican Republic. I have a background in design (UASD) and also Multimedia (ITLA)
  .resumee
    a(href="https://www.dropbox.com/s/auudrifjgyq8snj/Wladimir%20Matos%20Reyes%20-%20CV.pdf?dl=0")
      span DOWNLOAD MY RESUMEE
  .circle-about
