.section-about
  p I have a passion for creating things, wether is it drawing, designing, animating, or even modeling it, I'm up for the challenge! I enjoy working with people to bring ideas to life.
  
  .circle
  .square
.top
  a(href="#0")
    img(src="../assets/img/top2.svg")
