.work-section
  .work-name
    h1 EDITORIAL DESIGN
    p Here are some pictures from a magazine done for a Desktop Publishing class at ITLA
  .work-showcase-editorial
    img(src="../assets/img/Editorial.jpg")
    img(src="../assets/img/Editorial1.png")
    img(src="../assets/img/Editorial2.png")
    img(src="../assets/img/Editorial3.png")
    img(src="../assets/img/Editorial4.png")

        
