.work-section
  .work-name
    h1 EDITORIAL DESIGN
    p Here are some pictures from a magazine done for a Desktop Publishing class at ITLA
  .work-showcase-editorial
    img(src="../assets/img/cover.png")
    img(src="../assets/img/Spread1.png")
    img(src="../assets/img/Spread2.png")
    img(src="../assets/img/Spread5.png")
