.work-section
  .work-name
    h1 FLASH ANIMATION
    p Flash animations done for class assignments
  .work-showcase
    video(width="320" height="240" controls)
      source(src="../assets/video/adidas.mp4" type="video/mp4")
      source(src="../assets/video/adidas.webm" type="video/webm")
    video#lego(width="970" height="250" controls)
      source(src="../assets/video/lego.mp4" type="video/mp4")
      source(src="../assets/video/lego.webm" type="video/webm")
