.footer
  .social-media
    a(href="https://www.instagram.com/vvldmr")
      img(src="../assets/img/ig.svg")
    
    a(href="https://www.facebook.com/wla91")
      img(src="../assets/img/fb.svg")
      
  p.copyright  &copy Developed and designed by Wladimir Matos Reyes

        
