header.home-wrap
  #bodymovin
  .title
    p -The work of Wladimir Matos Reyes
  nav.site-nav
    ul
      li: a.menu(href="index.html")
        span HOME
      li: a.menu(href="about-me.html")
        span ABOUT
      li: a.menu(href="work.html")
        span WORK
      li: a.menu(href="contact.html")
        span CONTACT 
      li: a.menu(href="mailto:wladimir.mr@outlook.com").email-link +email me
      
  .mobile-nav-toggle: span

.mobile-nav
  ul
    li: a.menu(href="index.html")
      span HOME
    li: a.menu(href="about-me.html")
      span ABOUT
    li: a.menu(href="work.html")
      span WORK
    li: a.menu(href="contact.html")
      span CONTACT 
    li: a.menu(href="mailto:wladimir.mr@outlook.com").email-link +email me
  
  .loader
  
