.work-section
  .work-name
    h1 ILLUSTRATION
    p These are some illustrations ranging from assignments in my time at ITLA to personal work
  .work-showcase
    img(src="../assets/img/illustracion1.jpg")
    img(src="../assets/img/illustration2.jpg")
    img(src="../assets/img/illustration3.jpg")
    img(src="../assets/img/illustration4.jpg")
    img(src="../assets/img/illustration.jpg")
    img(src="../assets/img/illustration6.jpg")
    img(src="../assets/img/illustration5.jpg")
        
