.work-section
  .work-name
    h1 3D MODELING
    p 3D models done for class assignment, the latter done for an animation project that got cancelled
  .work-showcase-editorial
    img(src="../assets/img/3d.png")
    img(src="../assets/img/3d1.jpg")
    img(src="../assets/img/3d2.png")


        
