.work-section
  .work-name
    h1 WEB DESIGN
    p Web design has always been one of my main interests, I do my best to provide a good user experience.
  .work-showcase-web
    img(src="../assets/img/lmm1.png").mac
    img(src="../assets/img/lmm2.png").cell
    img(src="../assets/img/web2.png").web
    img(src="../assets/img/web3.png").web
.square-web
