.work-section
  .work-name
    h1 WEB DESIGN
    p Web design has always been one of my main interests, my most recent project has been Luis Menieur Model's Agency website design, after a while working with Mr. Menieur the website is launching soon in the coming month.
    img(src="../assets/img/lmm1.png").mac
    img(src="../assets/img/lmm2.png").cell
    img(src="../assets/img/web2.png").web
    img(src="../assets/img/web3.png").web
.square-web
