.section-work
  .work
    h1 WORK
  .section-works
    .mograph
      a(href="mograph.html")
        .section-title
          h1 MOTION GRAPHICS
        img(src="../assets/img/mograph1.gif")
    .web
      a(href="web-design.html")
        .section-title
          h1 WEB DESIGN
        img(src="../assets/img/web1.png")
    .ilust
      a(href="illustration.html")
        .section-title
          h1 DIGITAL ILLUSTRATION
        img(src="../assets/img/illustracion-detail.jpg")
    .editorial
      a(href="editorial.html")
        .section-title
          h1 EDITORIAL DESIGN
        img(src="../assets/img/editorial.jpg")
    .maya
      a(href="maya.html")
        .section-title
          h1 3D MODELING
        img(src="../assets/img/3d.png")
    .flash
      a(href="flash.html")
        .section-title
          h1 FLASH ANIMATION
        img(src="../assets/img/lego.png")
  .bg-rect
  .lines
.top
  a(href="#0")
    img(src="../assets/img/top2.svg")
