---
layout: default
title: WLDMR - Wladimir Matos Reyes
---
<div class="home-wrap">
  {% include header.html %}
  <div class="home-sections">

    {% include about.html %}
    {% include work-mograph.html %}
    {% include work-web.html %}
    {% include work-illustration.html %}
    {% include work-editorial.html %}
    {% include work-3d.html %}
    {% include work-flash.html %}

  </div>
  {% include footer.html %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="../assets/js/jquery-2.2.3.min.js"></script>
  <script src="../assets/js/bodymovin.js" type="text/javascript"></script>
  <script src="../assets/js/animation.js" type="text/javascript"></script>
  <script src="../assets/js/function.js" type="text/javascript"></script>
  <script src="../assets/js/swfobject.js" type="text/javascript"></script>
</div>
